.footer {
    width: 93%;
    font-size: 12px;
}

.fLists {
    display: flex;
    width: 98%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
    color: rgb(101, 61, 9);
    cursor: pointer;
}

.fText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}